/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
 
  flex-direction: column;

  background-color: #202020;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

a {
  color: #6dff6d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px;
  background-color: #191919;
  border-bottom: 1px solid #6dff6d;
  
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo h1 {
  margin: 0;
}

/* Table styles */
table {
  margin: 50px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #282828;
}

thead tr {
  background-color: #6dff6d;
  color: #202020;
  text-align: left;
}

thead th {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #6dff6d;
}

tbody tr:hover {
  background-color: #333333;
}

tbody td {
  padding: 12px 15px;
}

tbody td:first-child {
  width: 30%;
}

tbody td:last-child {
  width: 35%;
  opacity: 0;
  transition: opacity 0.5s ease 1.5s;
}

tbody td:nth-last-child(2) {
  width: 35%;
  opacity: 0;
  transition: opacity 0.5s ease 1.5s;
}

tbody tr:hover td:last-child,
tbody tr:hover td:nth-last-child(2) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  
  tbody td:first-child {
    display: block;
    width: auto;
  }
  
  tbody td:last-child,
  tbody td:nth-last-child(2) {
    display: block;
    width: auto;
  }
  
  tbody td:last-child,
  tbody td:nth-last-child(2)::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
